<p>2.a 
Please define TWA-TLV, OSHA PEL, and LC50 

TWA-TLV:  TLV Time-Weighted Averages (TWAs) are defined as time-weighted-average concentration limits for a normal 8-hr workday, with a total of 40 hr per week. Nearly all workers can be exposed repeatedly, day after day, to these concentrations without adverse effects
OSHA PEL: The permissible exposure limit (PEL or OSHA PEL) is a legal limit in the United States for exposure of an employee to a chemical substance or physical agent such as high level noise. Permissible exposure limits are established by the Occupational Safety and Health Administration (OSHA).
LC50 : The concentration of a material in air which, on the basis of laboratory tests, is expected to kill 50% of a group of test animals when administered as a single exposure (usually 1 or 4 hours)

5. a
Please define ERPG-1, ERPG-3, EEGL-24 hour, AEGL-level 3, and LOC (level of concern) 

ERPG-1: ERPG-1 is the maximum airborne concentration below which it is believed nearly all
Individuals could be exposed for up to 1 hr without experiencing effects other than
Mild transient adverse health effects or perceiving a clearly defined objectionable odour.
ERPG-3: ERPG-3 is the maximum airborne concentration below which it is believed nearly all
Individuals could be exposed for up to 1 hr without experiencing or developing life-threatening
Health effects (similar to EEGLs).
EEGL-24 hour: Emergency Exposure Guidance Levels are concentrations of substances in the air that to be acceptable for the performance of specific tasks during rare, emergency conditions, lasting to 24 hrs.
AEGL-3: (Acute Exposure Guideline Levels) AEGL-3 is exposure levels might cause life-threatening effects or death in the general population, including sensitive individuals.
Levels of Concern (LOC) are the "concentrations of an extremely hazardous substance (EHS) in air above which there may be serious irreversible health effects or death as a result of a single exposure for a relatively short period of time"
</p>
